CKAN_IMAGE=seamware/ckan:2.11-custom

# Host
CKAN_PORT_HOST=5000
TZ=UTC

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
CKAN_DB_USER=ckandbuser
CKAN_DB_PASSWORD=ckandbpassword
CKAN_DB=ckandb
DATASTORE_READONLY_USER=datastore_ro
DATASTORE_READONLY_PASSWORD=datastore
DATASTORE_DB=datastore

# CKAN core
CKAN_SITE_ID=default
CKAN_SITE_URL=http://localhost:5000
CKAN_SQLALCHEMY_URL=postgresql://ckandbuser:ckandbpassword@db/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckandbuser:ckandbpassword@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore
CKAN_SOLR_URL=http://solr:8983/solr/ckan
CKAN_REDIS_URL=redis://redis:6379/1
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_MAX_UPLOAD_SIZE_MB=100
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=test1234
CKAN_SYSADMIN_EMAIL=your_email@example.com
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost

# CKAN plugins
CKAN__PLUGINS=image_view text_view datatables_view datastore envvars scheming_datasets scheming_groups scheming_organizations harvest dcat oidc4vc tmforum dsif
CKAN___SCHEMING__DATASET_SCHEMAS=ckanext.dcat.schemas:dcat_ap_recommended.yaml
CKAN___SCHEMING__PRESETS=ckanext.scheming:presets.json ckanext.dcat.schemas:presets.yaml

# Harvest queue
CKAN__HARVEST__MQ__TYPE=redis
CKAN__HARVEST__MQ__HOSTNAME=redis
CKAN__HARVEST__MQ__PORT=6379
CKAN__HARVEST__MQ__REDIS_DB=1

# DSIF
CKANEXT_DSIF_CATALOG_ID=ic-001
CKANEXT_DSIF_SECTOR=smart-cities
CKANEXT_DSIF_TITLE=Independent Catalog of Smart City Data
CKANEXT_DSIF_DESCRIPTION=This catalog contains datasets related to smart cities.

# OIDC4VC
CKANEXT_OIDC4VC_CLIENT_ID=data-service
CKANEXT_OIDC4VC_CLIENT_SECRET=CHANGE_ME
CKANEXT_OIDC4VC_REDIRECT_URI=/auth/oidc4vc/callback
CKANEXT_OIDC4VC_SCOPES=operator
CKANEXT_OIDC4VC_ISSUER=https://verifier.seamware.io
CKANEXT_OIDC4VC_EMAIL_CLAIM=verifiableCredential.credentialSubject.email
CKANEXT_OIDC4VC_FIRST_NAME_CLAIM=verifiableCredential.credentialSubject.firstName
CKANEXT_OIDC4VC_LAST_NAME_CLAIM=verifiableCredential.credentialSubject.lastName
CKANEXT_OIDC4VC_ORG_ID_CLAIM=verifiableCredential.issuer
CKANEXT_OIDC4VC_ROLES_CLAIM=verifiableCredential.credentialSubject.roles
CKANEXT_OIDC4VC_EDITOR_ROLE=ckan:editor
CKANEXT_OIDC4VC_ORG_ADMIN_ROLE=ckan:admin

# TMForum
CKANEXT_TMFORUM_OWNER_ROLE=Seller

# Solr / Redis image tags
SOLR_IMAGE_VERSION=2.11-solr9
REDIS_VERSION=6
